/backend/laravel/public/hot
/backend/laravel/public/storage
/backend/laravel/storage/*.key
/backend/laravel/vendor
/backend/laravel.env
/backend/laravel.env.backup
/backend/laravel.phpunit.result.cache
/backend/laraveldocker-compose.override.yml
/backend/laravelHomestead.json
/backend/laravelHomestead.yaml
/backend/laravelnpm-debug.log
/backend/laravelyarn-error.log
/backend/laravel/.idea
/backend/laravel/.vscode
/backend/psql
/frontend/node/vue/node_modules
