/backend/laravel/public/hot
/backend/laravel/public/storage
/backend/laravel/storage/*.key
/backend/laravel/vendor
/backend/laravel/.env
/backend/laravel/.env.backup
/backend/laravel/.phpunit.result.cache
/backend/laravel/docker-compose.override.yml
/backend/laravel/Homestead.json
/backend/laravel/Homestead.yaml
/backend/laravel/npm-debug.log
/backend/laravel/yarn-error.log
/backend/laravel/.idea
/backend/laravel/.vscode
/backend/psql
/frontend/node/vue/node_modules
